.wrapper {
  align-items: center;
  background-color: var(--main-dark-bg-color);
  color: var(--main-light-font-color);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 0 20px;
}
